.add-to-bookmarks {
	display: inline-block;
	position: relative;
	cursor: move;
	color: #333;
	background: #e6e6e6;
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(7%,#e6e6e6),color-stop(77%,#d8d8d8));
	background-image: -webkit-linear-gradient(bottom,#e6e6e6 7%,#d8d8d8 77%);
	background-image: -moz-linear-gradient(bottom,#e6e6e6 7%,#d8d8d8 77%);
	background-image: -o-linear-gradient(bottom,#e6e6e6 7%,#d8d8d8 77%);
	background-image: linear-gradient(to top,#e6e6e6 7%,#d8d8d8 77%);
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #b4b4b4;
	font-style: normal;
	line-height: 16px;
	font-size: 14px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
}